{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/main.css')}}">
	<link rel="stylesheet" href="{{asset('css/normalize.css')}}">
	<link rel="stylesheet" href="{{asset('css/estilo.css')}}">
	<!-- Bootstrap core CSS -->
    <!--link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet"-->
    <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.css')}}">

    <!-- Custom styles for this template -->
    <link href="{{asset('css/navbar-fixed-top.css')}}" rel="stylesheet">
    
{% endblock %}


{% block header %}
	{% block title %} {% endblock %}
{% endblock %}
{% block nav %} 
	{{ include('OcupacionEmpleoBundle:Default:nav.html.twig')}}
{% endblock %}

{% block body %}
	<section id="section"> 
		<article class="col-md-12">
			{% block contenido %}
	
			{% endblock %}
		</article>	
	</section>
	{% block footer %} 
		{{ include('OcupacionEmpleoBundle:Default:footer.html.twig')}}
	{% endblock %}
{% endblock %}

{% block javascripts %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{asset('js/main.js')}}"></script>
      <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{asset('js/ie-emulation-modes-warning.js')}}"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/ie10-viewport-bug-workaround.js')}}"></script>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="{{asset('js/funcion.js')}}"></script>
{% endblock	 %}
    